*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.header {
    background-color: #f8f8f8;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
}
.menu__list li{
    margin-left: 20px;
}
.menu__list a{
    font-size: 18px;
    color: #212121;
    font-weight: 300;
    line-height: 80px;
    text-decoration: none;
}

.top {
    background-image: url(../img/bcg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 200px 0 185px 0;
}

.top-info__title {
   font-size: 62px;
   font-weight: 700;
   line-height: 55px;
   margin: 0 0 30px 0;
   color: #ffff;
}
.description {   
   font-size: 20px;
   font-weight: 300;
   line-height: 30px;
   margin: 0 0 25px 0;
   color: #ffff;
}
.top-info-btn{
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    width: 29%;
}
.top-info__btn-descr {
   color: #ffff;
   text-decoration: none;
   font-weight: 300;
   font-size: 18px;
   line-height: 45px;
   background-color: #3F97F6;
   padding: 10px 80px;
   border-radius: 6px;
}
.top-info-btn:hover{
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(5px);
}

.benefit{
    padding: 100px 0 120px;
    background-color: #F2F2F2;
}
h2{
    font-weight: 700;
    font-size: 40px;
    color: #424242;
    text-align: center;
    padding: 0 0 42px 0;
}
.benefit-items{
    display: flex;
    justify-content: space-between;
}
.benefit-item {
    padding: 0 20px 25px;

    background-color: #ffffff;

    max-width: 270px;
    height: 417px;

    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);

    transition: all 0.5s ease;
}
.benefit-item:hover{
    border-radius: 100px 0px 100px 0px;
}
.benefit-item__inner{
    transition: all 0.5s ease;
}
.benefit-item__inner:hover{
    border-radius: 100px 0px 100px 0px;
    transition: all 0.5s ease;
}
.benefit-item__iamges {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.benefit-item__name {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #424242;
    margin-bottom: 20px;
}
.benefit-item__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    text-align: center;
}

.about{
    padding: 110px 0 120px;
}
.about-info__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #424242;
    margin-bottom: 30px;
}
.about-info__description {
    display: table-cell;

    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #333333;

    width: 1172px;
}

.about-info__image {
    margin-right: 40px;
    float: left;
}

.call{
    background-color: #f2f2f2;
    padding: 105px 0 95px;
}
.call__inner {
    text-align: center;
}
.call-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #424242;
    margin-bottom: 30px;
}
.call-btn {
    margin-bottom: 25px;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
.call-btn:hover{
    transform: translateY(5px);
}
.call-btn__text {
    background-color: #3F97F6;

    border-radius: 6px;

    font-weight: 300;
    font-size: 18px;
    line-height: 54px;
    color: #ffff;
    text-decoration: none;
    padding: 16px 153px;
    
}
.call-btn__dscr {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.offers{
    padding: 105px 0 85px;
}
.offers-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #424242;
    text-align: center;
}
.offers-subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 23px;
    color: #333333;
    text-align: center;
}
.offers-items {
    display: flex;
    justify-content: space-between;
    
}

.offers-item {
    max-width: 365px;
    background-color: #F9F9F9;
    padding: 0 0 32px 0;
    text-align: center;
    opacity: 0.5;
    transition:  1s cubic-bezier(0.25, 1, 0.5, 1);
}
.offers-item:hover {
    opacity: 1;
    transition:  1s cubic-bezier(0.25, 1, 0.5, 1);
}

.offers-item__image {
    margin-bottom: 25px;
}
.offers-item__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #424242;
    margin-bottom: 35px;
    padding: 0 11px 0 13px;
}
.offers-item__descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 37px;
    padding: 0 11px 0 13px;
}
.offers-item__btn {
    background-color: #3F97F6;
    width: 60%;
    margin: 0 auto;
    border-radius: 6px;
    padding: 10px 0;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
.offers-item__btn:hover{
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(5px);
}
.offer-item_btn-text {
    text-decoration: none;
    color: #ffff;
    padding: 13px 31px;
}

.credit{
    background-color: #F2F2F2;
    padding: 100px 0 90px;
}
.credit-info {
    display: flex;
    
}
.credit-info__img {
    width: 600px;
   
}
.crdit-info__block{
    background-color: #ffff;
    height: 380px;
    margin-top: 52px;
    padding: 0 52px;
    box-shadow: 0px 20px 49px 1px rgba(41, 44, 61, 0.15);
}
.credit-info__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #424242;
    margin: 50px 0 21px;
}
.credit-info__title::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin: 20px 0;
    background-color: #000000;
}
.credit-info__descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 27px;
}
.credit-info__btn {
    text-align: center;
    transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}
.credit-info__btn:hover{
    transform: translateY(5px);
}
.credit-info__btn-text {
    background-color: #3F97F6;

    border-radius: 6px;

    text-decoration: none;
    color: #ffff;
    padding: 8px 33px;
}

.lastNews {
    padding: 100px 0;
}
.lastNews-info {
    color: #424242;
}
.lastNews-info__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.lastNews-info__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
}
.lastNews-info-items {
    display: flex;
}
.lastNews-item {
  padding: 0 20px 40px;
  transition: all 0.5s ease;
}
.lastNews-item:hover{
    transform: scale(1.1); 
    transition: all 0.5s ease;
}

.lastNews-item__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;

}
.lastNews-item__title::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 13px;
    background-color:  #E2E2E2;
}
.lastNews-item__descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}

.questions {
    background-color: #f2f2f2;
    padding: 100px 0;
}

.questions__inner {
    color: #424242;
    font-weight: 300;
}
.questions-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 27px;
    text-align: center;
}
.questions-subtitle{
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
    color: #333333;
    text-align: center;
}
.questions-item {
    position: relative;
    width: 82%;
    margin-left: 10%;
}
.questions-item__problem {
    background-color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    padding: 10px 40px 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 13px 50px 1px rgba(41, 44, 61, 0.1)
}
.questions-item__btn {
    background-color: #3F97F6;
    padding: 7px 11px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block; 
    top: 10px;
    left: 95%;
    position: absolute;
}
.questions-item__btn-text{
    color: #ffff;
    text-decoration: none;
    display: none;
}
.questions-item__btn-text:active{
    color: black;
}
.questions-item__answer {
    margin: 10px 0 25px;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}

.consultation {
    padding: 100px 0;
}
.consultation__inner{
    font-weight: 300;
    display: flex;
}
.consultation-img {
    max-width: 600px;
}
.consultation-info {
    background-color: #F8F8F8; 
    height: 400px;
    margin-top: 52px;
    padding: 45px 52px 40px 52px;
    box-shadow: 0px 20px 49px 1px rgba(41, 44, 61, 0.15);
}

.consultation-info__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    color: #424242;
}
.consultation-info__title::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin: 20px 0;
    background-color: #000000;
}
.consultation-info__decrk {
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 23px;
}
.consultation-info__btn {
    text-align: center;

    transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}
.consultation-info__btn:hover{
    transform: translateY(5px);
}
.consultation-info__btn-text {
    background-color: #3F97F6;

    border-radius: 6px;

    font-size: 16px;
    line-height: 34px;
    color: #ffff;
    text-decoration: none;
    padding: 8px 33px;
}

.footer{
    padding: 40px 0;
    background-color: #f8f8f8;
}
.footer-map iframe{
    width: 1200px;
}
.footer__inner{
    display: flex;
    flex-wrap:wrap;
    font-weight: 300;
    color: #333333;
}
.footer-contactInf {
    margin: 40px 0 40px 40px;
}
.footer-contactInf__title {
    font-size: 17px;
    line-height: 24px;
}
.footer-contactInf__list {
    margin: 26px 0 45px 70px;
}
.footer-social{
    font-size: 16px;
    line-height: 22px;
    margin-left: 190px;
}
.footer-social__title {
    margin-left: 35px;
}
.footer-AdditionalInf {
    margin: 70px auto;
    display: flex;
}
.footer-AdditionalInf__about {
    font-size: 17px;
    line-height: 24px;
    margin-left: 50px;
}
.footer-number {
    margin-left:300px ;
}
.footer-phoneNumber {
    font-size: 22px;
    line-height: 31px;
    margin-left: 15%;
    position: relative;
}
.footer-phoneNumber::before{
    content: "";
    background-image: url(../img/phone.png) ;
    width: 25px;
    height: 28px;
    position: absolute;
    left: -27px;
    top: 60%;
    transform: translateY(-50%);
}
.footer-phoneNumber-descr {
    font-size: 13px;
    line-height: 18px;
}

@media (max-width: 1200px) {
    .footer-map iframe{
        width: 800px;
    }
}