*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.header {
    background-color: #f8f8f8;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
}
.menu__list li{
    margin-left: 20px;
}
.menu__list a{
    font-size: 18px;
    color: #212121;
    font-weight: 300;
    line-height: 80px;
    text-decoration: none;
}

.top {
    background-image: url(../img/bcg.png);
    padding: 200px 0 185px 0;
}

.top-info__title {
   font-size: 62px;
   font-weight: 700;
   line-height: 55px;
   margin: 0 0 30px 0;
   color: #ffff;
}
.description {   
   font-size: 20px;
   font-weight: 300;
   line-height: 30px;
   margin: 0 0 25px 0;
   color: #ffff;
}
.top-info-btn{
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    width: 29%;
}
.top-info__btn-descr {
   text-decoration: none;
   font-weight: 300;
   font-size: 18px;
   line-height: 45px;
   background-color: #3F97F6;
   padding: 10px 80px;
   border-radius: 6px;
}
.top-info__btn-descr:visited{
    color: #ffff;
}
.top-info-btn:hover{
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(5px);
}

.benefit{
    padding: 100px 0 120px;
    background-color: #F2F2F2;
}
h2{
    font-weight: 700;
    font-size: 40px;
    color: #424242;
    text-align: center;
    padding: 0 0 42px 0;
}
.benefit-items{
    display: flex;
    justify-content: space-between;
    
    
}
.benefit-item {
    max-width: 270px;
    max-height: 380px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}
.benefit-item__inner{
    background-color: #ffffff;
    padding: 0 20px 25px;
}
.benefit-item__iamges {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.benefit-item__name {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #424242;
    margin-bottom: 20px;
}
.benefit-item__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    text-align: center;
}

.about{
    padding: 110px 0 120px;
}
.about-info__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #424242;
    margin-bottom: 30px;
}
.about-info__description {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}
.about-info__description p {
    width: 1172px;
}

.about-info__image {
    margin-right: 40px;
    float: left;
}

.call{
    background-color: #f2f2f2;
    padding: 105px 0 95px;
}
.call__inner {
    text-align: center;
}
.call-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #424242;
    margin-bottom: 30px;
}
.call-btn {
    background-color: #3F97F6;
    width: 40%;
    margin: 0 auto;
    border-radius: 6px;
    margin-bottom: 25px;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
.call-btn:hover{
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(5px);
}
.call-btn__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 54px;
    color: #ffff;
    text-decoration: none;
    padding: 16px 153px;
    
}
.call-btn__dscr {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.offers{
    padding: 105px 0 85px;
}
.offers-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #424242;
    text-align: center;
}
.offers-subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 23px;
    color: #333333;
    text-align: center;
}
.offers-items {
    display: flex;
    justify-content: space-between;
    
}

.offers-item {
    max-width: 365px;
    background-color: #F9F9F9;
    padding: 0 0 32px 0;
    text-align: center;
    opacity: 0.5;
    transition:  1s cubic-bezier(0.25, 1, 0.5, 1);
}
.offers-item:hover {
    opacity: 1;
    transition:  1s cubic-bezier(0.25, 1, 0.5, 1);
}

.offers-item__image {
    margin-bottom: 25px;
}
.offers-item__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #424242;
    margin-bottom: 35px;
    padding: 0 11px 0 13px;
}
.offers-item__descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 37px;
    padding: 0 11px 0 13px;
}
.offers-item__btn {
    background-color: #3F97F6;
    width: 60%;
    margin: 0 auto;
    border-radius: 6px;
    padding: 10px 0;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
.offers-item__btn:hover{
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(5px);
}
.offer-item_btn-text {
    text-decoration: none;
    color: #ffff;
    padding: 13px 33px;
}

.credit{
    background-color: #F2F2F2;
    padding: 100px 0 90px;
}
.credit-info {
    display: flex;
    
}
.credit-info__img {
    width: 600px;
   
}
.crdit-info__block{
    background-color: #ffff;
    height: 380px;
    margin-top: 52px;
    padding: 0 52px;
    box-shadow: 0px 20px 49px 1px rgba(41, 44, 61, 0.15);
}
.credit-info__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #424242;
    margin: 50px 0 21px;
}
.credit-info__title::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin: 20px 0;
    background-color: #000000;
}
.credit-info__descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 27px;
}
.credit-info__btn {
    text-align: center;
    background-color: #3F97F6;
    width: 50%;
    margin: 0 auto;
    border-radius: 6px;
    padding: 10px 0;
    transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}
.credit-info__btn:hover{
    transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
    transform: translateY(5px);
}
.credit-info__btn-text {
    text-decoration: none;
    color: #ffff;
    padding: 8px 33px;
}